/* #e74c3c 


    font-family: 'Source Sans Pro', ;

    font-family: 'Noto Sans', ;

*/
body {
    font-family: 'Source Sans Pro',sans-serif ; 
}
h1, h2,h3,h4{
    font-family: 'Noto Sans', ;
}

h1{
    font-size: 40px;
}

h2{
    margin: 50px 132px;
    color: #e74c3c;
    font-size: 25px
}

h3 {
    color: #e74c3c;
    text-align: center;
    font-size: 25px;
}

.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin: 10px 0px;
}
.header__wrap {
    
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    width: 1000px;
    margin: 0 auto;
} 
.header__wrap--figure{
    display: inherit;
    align-items: inherit;
    justify-content: space-around;
}
.header__wrap--figure a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 5px;
}
.header__wrap--figure a strong span {
    color :#e74c3c;
}
.header__wrap--figure img{
    height: 50px;
    width: 50px;
}
.header__wrap--nav {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.header__wrap--nav-ul {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    list-style: none;
}
.header__wrap--nav-ul a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.hero{
    background: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/358636/pexels-photo-358636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero__wrap{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 1000px;
    margin: 0 auto;
    color: white;
}
.hero__wrap p{
    color: black;
    font-size: 17px;
    font-family: 'Noto Sans';
}
.service{
    background: white;
    margin: 50px 0px; 
}
.service__wrap{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "art1 art2"
                         "art3 art4";
}
.art1{grid-area: art1;}.art2{grid-area: art2;}.art3{grid-area: art3;}.art4{grid-area: art4;}

.service__wrap--article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.service__wrap--article img{
    width: 80px;
    height: 80px;
}
.service__wrap--article h3{
    color: #e74c3c ;
    font-size: 22px;
}
.service__wrap--article p{
    padding: 0 15px;
    display: inherit;
    align-items: flex-start;
}
.h2-news__container{
    background: #e74c3c;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 20px 0;
}
.h2-news__container h2{
    color: white;
}
.news {
    background-color: #e74c3c;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__wrap {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 1000px;
    margin: 45px auto;

}
.news__wrap--article {  
    width: 315px;
    height: 505px;  
    background: #fafafa;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.08);
}
.news__wrap--article img {
    width: 315px;
    height: 250px;
    box-shadow: none;
}
.news__wrap--article p {
    margin: 15px;
    font-size: 17px;
}
.sale{
    
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    
}
.sale__wrap{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit; 
    flex-flow: inherit;   
    
}
.sale__wrap--article{
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex-shrink: 0;
    width: 315px;
    height: 515px;  
    padding-bottom: 5px;
    margin-bottom: 50px;
    background: #fafafa;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.08);
}
.sale__wrap--article img{
    width: 315px;
    height: 250px;
    box-shadow: none;
}
.sale__wrap--article p{
    margin: 15px;
    font-size: 17px;
    
}
.contact{
    background:#e74c3c;
    
}
.contact__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    height: 600px;
}
.contact__wrap--article-figure img{
    width: 50px;
    height: 50px;
    margin: 0px 35px;
}
#correo{
    height: 50px;
    width: 50px;
}
.contact__wrap--article-form{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: column;
    
}
.contact__wrap--article-form input{
    padding: 20px 30px;
    width: 360px;
    height: 0px;
    border-radius: 15px;
    margin: 15px 0;
    border: none;
}
.contact__wrap--article-form .input-text {
    height: 55px;
}
.contact__wrap--article-form a{
    text-decoration: none;
    color:white;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    margin-top: 15px;
    padding: 15px 0px;
    font-family: 'Source Sans Pro',sans-serif;
}
.contact__wrap--article-form h2{
    color: white;
    padding-top: 0;
    margin: 0px 0px 30px 0px;
}
.footer {
    background: #e74c3c;
    width: 100%;
}
.footer__wrap {
    height: 250px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__wrap div{
    display: inherit;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}
.footer__wrap div h4{
    font-size: 24px;
    margin: 14px 0;
}